.mainDiv {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    grid-column: 1/3;
    grid-row: 3;
    margin-top: 1rem
}

.item {

}

@media only screen and (max-width: 600px){
    .mainDiv {
        margin-top: .5rem
    }
}
