.primaryButton {
    background-color: green;
}

.mainDiv {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url("../../../assets/landingPage.jpg");
    display: grid;
    grid-template-columns: 1fr 44rem 1fr;
    grid-template-rows: 3.2rem 7.5rem 20rem;
    background-size: cover;
    background-position: bottom;
}

@media only screen and (max-width: 600px){
    .mainDiv {
        grid-template-columns: 1fr 21rem 1fr;
        grid-template-rows: 3.2rem 9rem 10rem;
    }
}
