.logo {
    margin-left: 15%;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    color: #F05557;
    font-size: 13pt;
    text-decoration: none;
}

.logoFirstName {
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
}

.logoFirstName:hover {
    font-weight: normal;
    color: #F05557 !important;
}


.logoLastName {
    margin-left: 1px;
    margin-right: auto;
}
