.navbar {
    /*font-family: 'Josefin Sans', sans-serif;*/
    grid-column: 1 / 7;
}

.navList {
    list-style-type: none;
    display: none;
}

.navLinks {
    color: white;
    font-family: 'Lato', sans-serif !important;
    font-size: 13pt !important;
    text-decoration: none;
}

.navListItems {
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 900px) {
    .navList {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        display: none;
    }
}

